@charset "utf-8";
/* CSS Document */

@font-face
{
	font-family:bebas;
	src:url("../bebas/SVN-BEBAS NEUE BOLD.TTF");
}
@font-face
{
	font-family:averta;
	src:url("../Averta/Averta-Regular.otf");
}
@font-face
{
	font-family:nexabook;
	src:url("../NEXA font/Nexa-Book.ttf");
}
@font-face
{
	font-family:avertalight;
	src:url("../averta/Averta-Light.otf");
}


.menu
{height:80px;z-index: 100px;}
.menu ul li
{list-style: none; line-height:110px}
.menu ul li .fa
{font-size: 20pt;}
div.menu img:hover
{visibility: hidden;}
.navigator
{visibility:visible;}
div.navigator ul li
{list-style:none;float:left;line-height:105px;font-family: bebas;margin-right:22px;}
div.navigator ul
{margin:0;padding:0;}
ul li a
{font-size:14pt;text-decoration:none;color:#161616;}
ul li a:hover
{color:#FFCC00;text-decoration:none;}
.logo
{line-height:100px;background-color: white}
.logo img
{width:40%;}
.blank
{height:50px}
.sign
{height:110px;}
.sign ul li
{list-style:none;text-align:right;line-height:105px;font-family:bebas;visibility:visible;}
.sign ul
{margin-right: 25px;padding:0;}




.back
{height:460px;visibiity:visible;}
a.trolai
{font-family:avertalight;text-decoration:none;color:#161616;font-size:12pt;margin-top:200px;float:right;}
a.trolai:hover
{color:#161616;text-decoration:none;}
.arrow
{width:100%;float:right;}



.new
{height:460px;z-index: -1}
.about a
{margin-left:-100px;text-align:left;color:#161616;font-family:bebas;font-size:120pt;line-height:130px;position:absolute;z-index:50;visibility:visible;}
.about-small a
{color:#161616;font-family:bebas;font-size:60pt;visibility:hidden;position:absolute;z-index:1;margin:20px 0 0 0;}
.sum
{position:inherit;z-index:1;margin:140px 0 0 650px;width: 40%;float: left; text-align: left}
textarea
{width:400px;height:110px;font-family:averta;font-size:14pt;text-decoration:none;color:#161616;}
.sum .them
{height:100px;margin-left:370px;visibility:visible;}
.docthem
{text-align:left;font-family:avertalight;text-decoration:none;color:#161616;font-size:12pt;writing-mode:vertical-rl;visibility:visible;}
.new img
{height:90%;visibility:visible;z-index: -10px}



#like-button:hover
{cursor: pointer;color: #FECD08;}
#like-button.not-liked
{color: #161616;}
#like-button.not-liked:hover
{color: #FECD08;}
#like-button.liked
{color: #FECD08;}




.wrapper
{height:1460px;width:100%;border:thin solid #ffffff;border-radius:10px;padding:40px;box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
.document
{height:1500px;z-index: -1}
.document
{font-family:averta;font-size:14pt;text-decoration:none;color:#161616;text-align:left;}
.essay01
{padding: 0 0 40px 0;}
.essay01 img
{width:40%;height:300px;float: right;border: 1px none black;margin: 0px 0px 40px 40px;object-fit: cover;}
.essay02
{padding: 0 0 40px 0;}
.essay02 img
{width:50%;height:420px;float:left;border: 1px none black;margin: 0px 40px 40px 0;object-fit: cover;}
.essay03
{padding: 0 0 40px 0;}
.essay03 img
{width:40%;height:300px;float: right;border: 1px none black;margin: 0px 0px 40px 40px;object-fit: cover;}
  



.bar
{height:460px;visibility:visible;}
div.bar div.icon img:hover
{visibility: hidden;}
.icon
{height:150px;margin: auto 0;}
.icon ul li
{list-style: none; margin: 10px 0 20px 0; width: 100%;}
.icon ul li .fa
{color:#4d4d4d;}
.icon ul li :hover {color: #ffcc00;}
.step
{height:10px;float:right;}
.page
{height:300px;font-family:nexabook;color:#161616;font-size:10pt;letter-spacing:8px;writing-mode:vertical-rl;}






@media only screen and (max-width:768px)
{
	.menu
	{height:45px;padding-top:20px;}
	.navigator
	{height:45px;background-color:white;visibility:hidden;}
	.logo
	{height:45px;line-height:60px;}
	.logo img
	{width:30%;}
	.blank
	{height:45px;}
	.sign
	{height:45px;}
	.sign ul li
	{visibility:hidden;line-height:0;}
	.back
	{height:180px;visibility:hidden;}
	.new
	{height:180px;}
	.bar
	{height:180px;visibility:hidden;}
	
	
	.about a
	{margin-left:0;font-size:0;line-height:0;visibility:hidden;}
	.about-small a
	{visibility:visible;}
	.sum
	{margin:40px 0 0 280px;}
	textarea
	{width:400px;height:110px;font-size:12pt;}
	.docthem
	{visibility:hidden;}
	.new img
	{visibility:hidden;}
	
	
	
	.document
	{height:2000px;font-size:12pt;}
	.essay01 img
	{height:180px;}
	.essay02 img
	{height:360px;}
	.essay03 img
	{height:180px;}
		
	
}
	

	
	
@media only screen and (max-width:576px)
{	
	.menu
	{height:30px;padding-top:0;}
	.navigator
	{height:30px;visibility:hidden;}
	.logo
	{height:30px;}
	.logo img
	{width:30%;}
	.blank
	{height:30px;}
	.sign
	{height:30px;}
	.sign ul li
	{visibility:hidden;line-height:0;}
	.back
	{visibility:hidden;}
	.bar
	{visibility:hidden;}
	
	
	.about-small a
	{margin:30px 0 0 0;font-size:20pt;}
	.sum
	{margin:40px 0 0 100px;}
	textarea
	{font-size:10pt;}
	.wrapper
	{border:none;box-shadow:none;}
	.document
	{height:2000px;font-size:10pt;}
	
	
	
}