@charset "utf-8";
/* CSS Document */

@font-face
{
	font-family:bebas;
	src:url("../bebas/SVN-BEBAS NEUE BOLD.TTF");
}
@font-face
{
	font-family:averta;
	src:url("../Averta/Averta-Regular.otf");
}
@font-face
{
	font-family:nexabook;
	src:url("../NEXA font/Nexa-Book.ttf");
}
@font-face
{
	font-family:avertalight;
	src:url("../averta/Averta-Light.otf");
}



.menu
{height:100px;padding-top:28px;}
.menu ul li
{list-style:none;width:100%;}
.menu ul li .fa
{color:#4d4d4d}
.menu ul li :hover
{color: #ffcc00}
.navigator
{height:100px;visibility:visible;}
div.navigator ul li
{list-style:none;float:left;line-height:80px;font-family: bebas;margin-right:22px;}
div.navigator ul
{margin:0;padding:0;}
ul li a
{font-size:14pt;text-decoration:none;color:#161616;}
ul li a:hover
{color:#FFCC00;text-decoration:none;}
.logo
{height:100px;line-height:94px;}
.logo img
{width:40%;}
.blank
{height:100px;}
.sign
{height:100px;}
.sign ul li
{list-style:none;text-align:right;line-height:150px;font-family:bebas;visibility:visible;}
.sign ul
{marign-right:25px;padding:0;}



.back
{height:150px;visibiity:visible;}
a.trolai
{font-family:avertalight;text-decoration:none;color:#161616;font-size:12pt;margin-top:100px;float:right;}
a.trolai:hover
{color:#161616;text-decoration:none;}
.arrow
{width:100%;float:right;}
.button
{text-align:center;padding:20px;}
button
{border:thin solid #FECD08;font-size:12pt;font-family:averta;text-align:center;padding:0 14px 0 14px;}
.dathich
{background-color:#ffcc00;color:white;border:1.5px solid #ffcc00;font-size:12pt;font-family:averta;text-align:center;padding:0 14px 0 14px;}
.daluu
{background-color:white;color:#ffcc00;border:1.5px solid #ffcc00;font-size:12pt;font-family:averta;text-align:center;padding:0 14px 0 14px;}
.dathich:hover 
{text-decoration:none;color:white;}
.daluu:hover
{text-decoration:none;color:#ffcc00;}
.sort
{padding-top:30px;}
.sort a
{padding-right:12px;}
select
{color:#FECD08;padding:0 15px 3px 5px;}
select option
{color:#161616;}




.swiper-container
{height:500px;margin:0;padding:0;}
.swiper-slide
{height:450px;text-align: center;background: #fff;margin:0;padding:0;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: left;-ms-flex-pack: left;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.swiper-pagination
{padding-top:30px;height:50px;}
.title
{font-family:bebas;font-size:20pt;}
.item img
{width:190px;height:190px;object-fit: cover;}
.item img:hover
{transition:ease-in-out 0.1s;transform:scale(1.05);}
.description
{font-family:averta;font-size:14pt;}
.keyword
{font-family:nexabook;font-size:12pt;color:#161616;text-decoration:none;}
.keyword:hover
{color:#FECD08;}




div.bar div.icon img:hover
{visibility: hidden;}
.icon
{height:150px;margin: auto 0}
.icon ul li
{list-style: none; margin: 10px 0 20px 0; width: 100%;}
.icon ul li .fa
{ color:#4d4d4d}
.icon ul li :hover
{color: #ffcc00}
.step
{height:5px;float: right;}
.page
{text-align:center;padding-top:100px;}
.page a
{font-family:nexabook;color:#161616;font-size:7pt;text-decoration:none;letter-spacing:8px;writing-mode:vertical-rl;}
.page a:hover
{color:#161616;text-decoration:none;}




@media only screen and (max-width:768px)
{
	.menu
	{height:45px;padding-top:20px;}
	.navigator
	{height:45px;background-color:white;visibility:hidden;}
	.logo
	{height:45px;line-height:60px;}
	.logo img
	{width:30%;}
	.blank
	{height:45px;}
	.sign
	{height:45px;}
	.sign ul li
	{visibility:hidden;line-height:0;}
	
	
	.back
	{height:120px;visibility:hidden;}
	.library
	{height:120px;}
	.bar
	{height:120px;visibility:hidden;}
	
	
	
	.space
	{height:500px;}
	.page
	{visibility:hidden;}	
	.title
	{font-size:18pt;}
	.item img
	{width:190px;height:190px;}
	.description
	{font-size:12pt;}
	.keyword
	{font-size:10pt;}
	
	
}
	
	
	
@media only screen and (max-width:576px)
{	
	.menu
	{height:30px;padding-top:0;}
	.navigator
	{height:30px;visibility:hidden;}
	.logo
	{height:30px;}
	.logo img
	{width:30%;}
	.blank
	{height:30px;}
	.sign
	{height:30px;}
	.sign ul li
	{visibility:hidden;line-height:0;}
	
	
	
	.back
	{visibility:hidden;}
	
	
	.space
	{height:0;}
	.sort
	{visibility:visible;}
	.page
	{height:0;visibility:hidden;}
	.title
	{font-size:16pt;}
	.item img
	{width:190px;height:190px;}
	.description
	{font-size:10pt;}
	.keyword
	{font-size:8pt;}
	
	
}


